
<!DOCTYPE html>
{%load static%}
<html>
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<style>

h3 {text-align: center;}
h6 {text-align: center;}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-text-field {
      background-color:#80ffff;
    }
    body {
      background-color: #009999;
      color: black;
    }
.cente{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
</head>
<body>
  <img src="{% static 'img/logo.png' %}" class="cente">
<br>
<form action="product" method="POST">
{% csrf_token %}
<div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3">
<p>Enter Department</p>
</div>
<div class="col-md-3">
        <select class="form-control custom-text-field" id="dept" name="dept" required>
          <option value="department1">CSE</option>
          <option value="department2">IT</option>
          <option value="department3">AIDS</option>
          <option value="department4">CSBS</option>
          <option value="department5">MECH</option>
          <option value="department6">MCT</option>
          <option value="department7">EEE</option>
          <option value="department8">ECE</option>
          <option value="department9">CIVIL</option>
          <option value="department10">CS</option>
          <option value="department11">ML</option>
        </select>
  </div>
</div>
<div class="col-md-3"></div>
</div>
<br>
<!---------------------------------------------------------------------------------------------------------------------------------------------------->

<div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3">
<p>Select the year and semester(year/semester)</p>
</div>
<div class="col-md-3">
        <input class="form-control custom-text-field" id="year" name="year" required>



      </div>
</div>
<div class="col-md-3"></div>
</div>
<!---------------------------------------------------------------------------------------------------------------------------------------------------->
<br>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <p>Enter from register number</p>
      </div>
      <div class="col-md-3">
        <input type="text" id="fromreg" name="fromreg" class="form-control custom-text-field">
      </div>
      <div class="col-md-3"></div>
    </div>
<br>
<!---------------------------------------------------------------------------------------------------------------------------------------------------->

<div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <p>Enter To Register No</p>
      </div>
      <div class="col-md-3">
        <input type="text" id="toreg" name="toreg" class="form-control custom-text-field">
      </div>
      <div class="col-md-3"></div>
    </div>
<br>
<!---------------------------------------------------------------------------------------------------------------------------------------------------->

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <p>Enter Total no of labs</p>
      </div>
      <div class="col-md-3">
        <input type="text" id="nooflab" name="nooflab" class="form-control custom-text-field">
      </div>
      <div class="col-md-3"></div>
    </div>
<br>
<!---------------------------------------------------------------------------------------------------------------------------------------------------->

<div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <p>Enter lab name with spaces</p>
      </div>
      <div class="col-md-3">
        <input type="text" id="labname" name="labname" class="form-control custom-text-field">
      </div>
      <div class="col-md-3"></div>
    </div>
<br>
<!---------------------------------------------------------------------------------------------------------------------------------------------------->

<div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <p>capacity of each lab</p>
      </div>
      <div class="col-md-3">
        <input type="text" id="capacity" name="capacity" class="form-control custom-text-field">
      </div>
      <div class="col-md-3"></div>
    </div>
<br>
<!---------------------------------------------------------------------------------------------------------------------------------------------------->

<div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <p>Enter total no of subjects</p>
      </div>
      <div class="col-md-3">
        <input type="text" id="subjects" name="subjects" class="form-control custom-text-field">
      </div>
      <div class="col-md-3"></div>
    </div>
<br>
<!---------------------------------------------------------------------------------------------------------------------------------------------------->

<!--<div class="row">-->
<!--      <div class="col-md-3"></div>-->
<!--      <div class="col-md-3">-->
<!--        <p>Enter sub1 dd/mm/yy</p>-->
<!--      </div>-->
<!--      <div class="col-md-3">-->
<!--        <input type="text" id="sub1" name="sub1" class="form-control custom-text-field">-->
<!--      </div>-->
<!--      <div class="col-md-3"></div>-->
<!--    </div>-->
<!--<br>-->
<!--&lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->

<!--<div class="row">-->
<!--      <div class="col-md-3"></div>-->
<!--      <div class="col-md-3">-->
<!--        <p>Enter sub2 dd/mm/yy</p>-->
<!--      </div>-->
<!--      <div class="col-md-3">-->
<!--        <input type="text" id="sub2" name="sub2" class="form-control custom-text-field">-->
<!--      </div>-->
<!--      <div class="col-md-3"></div>-->
<!--    </div>-->
<!--<br>-->
<!--<div class="row">-->
<!--      <div class="col-md-3"></div>-->
<!--      <div class="col-md-3">-->
<!--        <p>Enter slot 1 time</p>-->
<!--      </div>-->
<!--      <div class="col-md-3">-->
<!--        <input type="text" class="form-control custom-text-field">-->
<!--      </div>-->
<!--      <div class="col-md-3"></div>-->
<!--    </div>-->
<!--<br>-->
<!--<div class="row">-->
<!--      <div class="col-md-3"></div>-->
<!--      <div class="col-md-3">-->
<!--        <p>Enter slot 2 time</p>-->
<!--      </div>-->
<!--      <div class="col-md-3">-->
<!--        <input type="text" class="form-control custom-text-field">-->
<!--      </div>-->
<!--      <div class="col-md-3"></div>-->
<!--    </div>-->
<!--<br>-->
<!--<div class="row">-->
<!--      <div class="col-md-3"></div>-->
<!--      <div class="col-md-3">-->
<!--        <p>Enter slot 1 time</p>-->
<!--      </div>-->
<!--      <div class="col-md-3">-->
<!--        <input type="text" id="slot1" name="slot2" class="form-control custom-text-field">-->
<!--      </div>-->
<!--      <div class="col-md-3"></div>-->
<!--    </div>-->
<!--<br>-->
<!--&lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->

<!--<div class="row">-->
<!--      <div class="col-md-3"></div>-->
<!--      <div class="col-md-3">-->
<!--        <p>Enter slot 2 time</p>-->
<!--      </div>-->
<!--      <div class="col-md-3">-->
<!--        <input type="text" id="slot2" name="slot2" class="form-control custom-text-field">-->
<!--      </div>-->
<!--      <div class="col-md-3"></div>-->
<!--    </div>-->
<!--<br>-->

<div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <p>Enter dates (DD/MM/YYYY) with spaces</p>
      </div>
      <div class="col-md-3">
        <input type="text" id="date" name="date" class="form-control custom-text-field">
      </div>
      <div class="col-md-3"></div>
    </div>
<br>
<!---------------------------------------------------------------------------------------------------------------------------------------------------->

<div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <p>Enter all subject code with spaces</p>
      </div>
      <div class="col-md-3">
        <input type="text" id="subcode" name="subcode" class="form-control custom-text-field">
      </div>
      <div class="col-md-3"></div>
    </div>
<br>
<!---------------------------------------------------------------------------------------------------------------------------------------------------->
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <p>Enter all internal examiner with spaces</p>
    </div>
    <div class="col-md-3">
      <input type="text" id="internal" name="internal" class="form-control custom-text-field">
    </div>
    <div class="col-md-3"></div>
  </div>
<br>
<!---------------------------------------------------------------------------------------------------------------------------------------------------->
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <p>Enter all external examiner with spaces</p>
    </div>
    <div class="col-md-3">
      <input type="text" id="external" name="external" class="form-control custom-text-field">
    </div>
    <div class="col-md-3"></div>
  </div>
<br>

<!---------------------------------------------------------------------------------------------------------------------------------------------------->

<div class="center">
<button style="background-color:#006699;" type="submit" value="submit" class="btn">Submit</button>
</div>
  </div>
</form>
</body>
</html>